<div class="container-fluid">
    <div class="panel-container panel-ext">
        <table class="table greyHead">
            <thead>
                <th>Database Table</th>
                <th>Number of records</th>
            </thead>
            <tbody>
                <tr>
                    <td>Tables</td>
                    <td>900</td>
                </tr>
                <tr>
                    <td>JobCard</td>
                    <td>1200</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>