<div class="container-fluid">
    <div class="row">
        <div class="col-lg-3 col-sm-12">
            <h3>Assigned Job Requests</h3>
            <div class="panel-container panel-ext sm-container">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-12">
                            <app-assigned-card></app-assigned-card>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-9 col-sm-12">
            <h3>Current Job Cards</h3>
            <div class="panel-container panel-ext sm-container">
                <table class="table">
                    <thead>
                        <th>Card Name</th>
                        <th>Requesting Manager</th>
                        <th>Fulfillment date</th>
                        <th>Stage</th>
                        <th>No. Applicants</th>
                        <th class="text-center">Action</th>
                    </thead>
                    <tbody>
                        <tr><td>XX</td><td>XX</td><td>19-08-2020</td><td>Applying</td><td>0</td><td [routerLink]="['/Dashboard/FullJobCard',5]"><i class="fas fa-eye ml-4"></i><i class="fas fa-trash-alt ml-4"></i></td></tr>
                        <tr><td>XX</td><td>XX</td><td>19-08-2020</td><td>Applying</td><td>0</td><td><i class="fas fa-eye ml-4"></i><i class="fas fa-trash-alt ml-4"></i></td></tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>