<div class="container-fluid">
    <table class="table mt-2 interview-tb">
        <thead>
            <th>Applicant</th>
            <th>Date</th>
            <th>Time</th>
            <th>Desk</th>
            <th>Rate</th>
        </thead>
        <tbody>
            <tr>
                <td>
                   <app-profile-card></app-profile-card> 
                </td>
                <td>
                    26-01-2020 
                </td>
                <td>
                    14:30 
                </td>
                <td>
                    None
                </td>
                <td class="text-center">
                    <i class="fad fa-star-half"></i>
                </td>
            </tr>
            <tr>
                <td>
                   <app-profile-card></app-profile-card> 
                </td>
                <td>
                    26-01-2020 
                </td>
                <td>
                    14:30 
                </td>
                <td>
                    ZF-24
                </td>
                <td class="text-center">
                    <i class="fad fa-star-half"></i>
                </td>
            </tr>
        </tbody>
    </table>
</div>