.grid-container{
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(4,25vh);
    grid-template-areas: 
    "header header header header header header"
    " . reset reset reset reset ."
    " . reset reset reset reset ."
    "footer footer footer footer footer footer"
    ;
}
.reset{
    grid-area: reset;
   
}
.header{
    grid-area: header;
}
.footer{
    grid-area: footer;
}
.resetBtn{
    display: block;
    margin-left: auto;
}