<div class="container">
    <button type="button" class="close" aria-label="Close" (click)="activeModal.close('Close click')">
        <span aria-hidden="true">&times;</span>
    </button>
    <h1>Edit Table</h1>
    <div class="row">
        <div class="col-md-6 col-sm-12">
            <div class="form-group">
                <label for="tableName">Table Name</label>
                <input type="text" name="tableName" id="tableName" class="form-control">
            </div>
            <div class="form-group">
                <label for="tableType">Table Type</label>
                <select name="tableType" id="tableType" class="form-control">
                    <option value="null">Boardroom</option>
                    <option value="null">Desk</option>
                </select>
            </div>
        </div>
        <div class="col-md-6 col-sm-12">
            <div class="form-group">
                <label for="building">Building</label>
                <select name="building" id="building" class="form-control">
                    <option value="null">Menlyn</option>
                    <option value="null">Midrand</option>
                </select>
            </div>
            <div class="form-group">
                <label for="floor">Floor</label>
                <select name="floor" id="floor" class="form-control">
                    <option value="null">Level 1</option>
                    <option value="null">Level 2</option>
                </select>
            </div>
        </div>
        <div class="col-12">
            <button class="btn btn-outline-primary mb-4 float-right">Save</button>
        </div>
    </div>
</div>