      <div class="container">
          <button type="button" class="close" aria-label="Close" (click)="activeModal.close('Close click')">
              <span aria-hidden="true">&times;</span>
          </button>
          <h1 *ngIf="editTable">Edit Table</h1>
          <h1 *ngIf="!editTable">Add Table</h1>

      <form [formGroup]="tableForm">
          <div class="row">
              <div class="col-md-6 col-sm-12">
                  <div class="form-group">
                      <label for="tableName">Table Name</label>
                      <input type="text" name="tableName" id="tableName" class="form-control" formControlName="name">
                  </div>
                  <div class="form-group">
                      <label for="tableType">Table Type</label>
                      <select name="tableType" id="tableType" class="form-control" formControlName="ttypeId">
                        <option value="null" selected disabled>Please select a TableType</option>
                        <option *ngFor="let item of tableTypes" [value]="item.id">{{item.type}} </option>
                      </select>
                  </div>
              </div>
              <div class="col-md-6 col-sm-12">
                  <div class="form-group">
                      <label for="building">Building</label>
                      <select name="building" id="building" class="form-control" formControlName="buildingId">
                        <option value="null" selected disabled>Please select a Building</option>
                        <option *ngFor="let item of buildings" [value]="item.buildingId">{{item.name}} </option>
                      </select>
                  </div>
                  <div class="form-group">
                      <label for="floor">Floor</label>
                      <select name="floor" id="floor" class="form-control" formControlName="floorId">
                        <option value="null" selected disabled>Please select a Floor</option>
                        <option *ngFor="let item of floors" [value]="item.floorId">{{item.floorNumber}} </option>
                      </select>
                  </div>
              </div>
              <div class="col-12">
                <button class="btn btn-outline-primary mb-4 float-right" [disabled]="!tableForm.valid" (click)="save()">Save</button>
              </div>
          </div>
        </form>
      </div>
