<div class="container-fluid">
    <div class="row">
        <div class="col-sm-12 col-md-6 mt-2">
            <div class="panel-container panel-ext sm-container">
                <h1>Stages</h1>
                <form>
                    <div class="form-group form-inline">
                        <h5>Search Stages:</h5> <input type="text" class="form-control ml-2">
                    </div>
                </form>
                <div>

                    <table class="table greyHead">
                        <thead>
                            <tr>
                                <th>Stage</th>
                                <th class="text-center"></th>
                            </tr>
                        </thead>

                         <tr *ngFor="let item of stages"><td>{{item.stage}}</td><td class="text-center"></td></tr>
                    </table>
                </div>
            </div>
        </div>
        <div class="col-sm-12 col-md-6 mt-2">
            <div class="panel-container panel-ext sm-container">
                <h1>Tests</h1>
                <form>
                    <div class="form-group form-inline">
                        <h5>Search Tests:</h5> <input type="text" class="form-control ml-2">
                    </div>
                </form>
                <div class="group-right" (click)="addTest()">
                    <h5>New Test</h5><h5><i class="fa fa-plus" aria-hidden="true"></i></h5>
                </div>
                <table class="table greyHead">
                    <thead>
                        <tr>
                            <th>Test</th>
                            <th class="text-center">Action</th>
                        </tr>
                    </thead>
                    <!-- BUILDINGS GO HERE -->
                    <tr *ngFor="let item of tests"><td>{{item.description}}</td><td class="text-center"><i class="far fa-pencil-alt" (click)="editTest(item.testId)"></i><i class="fas fa-trash-alt ml-4" (click)="deleteTest(item.testId)"></i></td></tr>
                </table>
            </div>
        </div>
</div>
