<div class="container-fluid">
    <div class="row">
        <div class="col-sm-12 col-md-6 mt-2">
            <div class="panel-container panel-ext sm-container">
                <h1>Stages</h1>
                <form>
                    <div class="form-group form-inline">
                        <h5>Search Stages:</h5> <input type="text" class="form-control ml-2">
                    </div>
                </form>
                <div>
                    <div class="group-right" (click)="addStage()">
                        <h5>New Stage</h5><h5><i class="fa fa-plus" aria-hidden="true"></i></h5>
                    </div>
                    <table class="table greyHead">
                        <thead>
                            <tr>
                                <th>Stage</th>
                                <th class="text-center">Action</th>
                            </tr>
                        </thead>
                        <!-- LOCATIONS GO HERE -->
                        <tr><td>Roslyn</td><td class="text-center"><i class="far fa-pencil-alt"></i><i class="fas fa-trash-alt ml-4"></i></td></tr>
                        <tr><td>Menlyn</td><td class="text-center"><i class="far fa-pencil-alt"></i><i class="fas fa-trash-alt ml-4"></i></td></tr>
                        <tr><td>Midrand</td><td class="text-center"><i class="far fa-pencil-alt"></i><i class="fas fa-trash-alt ml-4"></i></td></tr>
                    </table>
                </div>
            </div>
        </div>
        <div class="col-sm-12 col-md-6 mt-2">
            <div class="panel-container panel-ext sm-container">
                <h1>Tests</h1>
                <form>
                    <div class="form-group form-inline">
                        <h5>Search Tests:</h5> <input type="text" class="form-control ml-2">
                    </div>
                </form>
                <div class="group-right" (click)="addTest()">
                    <h5>New Test</h5><h5><i class="fa fa-plus" aria-hidden="true"></i></h5>
                </div>
                <table class="table greyHead">
                    <thead>
                        <tr>
                            <th>Test</th>
                            <th class="text-center">Action</th>
                        </tr>
                    </thead>
                    <!-- BUILDINGS GO HERE -->
                    <tr><td><h5>Casino</h5><p>THIS IS TESTING STUFF</p></td><td class="text-center"><i class="far fa-pencil-alt"></i><i class="fas fa-trash-alt ml-4"></i></td></tr>
                    <tr><td><h5>Rummy Cub</h5><p>THIS IS TESTING STUFF</p></td><td class="text-center"><i class="far fa-pencil-alt"></i><i class="fas fa-trash-alt ml-4"></i></td></tr>
                </table>
            </div>
        </div>
</div>