<div class="container-fluid">
    <div class="row">
        <div class="col-lg-5 col-md-12">
            <h1>Scheduled Interviews</h1>
            <div class="sm-container panel-container">
                <app-interview-record class="img-sm"></app-interview-record>
            </div>
        </div>
        <div class="col-lg-7 col-md-12">
            <h1>Interview</h1>
            <div class="sm-container panel-container">
                <div>
                    <app-profile-card class="img-fit clickable"></app-profile-card>
                </div>
                <hr>
                <form>
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-lg-3 col-md-12">
                                <div class="form-group">
                                    <label for="rating">Rating</label>
                                    <input type="number" name="rating" id="rating" class="form-control">
                                </div>
                            </div>
                            <div class="col-lg-9 col-md-0">

                            </div>
                            <div class="col-12">
                                <div class="form-group">
                                    <label for="comment">Comment</label>
                                    <textarea name="comment" id="comment" cols="30" rows="5" class="form-control"></textarea>
                                </div>
                            </div>
                            <div class="col-12">
                                <button class="btn btn-outline-primary float-right pr-4 pl-4">Save</button>
                            </div>
                        </div>
                    </div>
                </form>
                
            </div>
        </div>
    </div>
</div>