.table{
    width: 100%;
}
.table-container{
    overflow-y:scroll;
    max-height:300px;
    display:block;
    width: 100%;

}

.heading-container{
    position: relative;
}

.heading-container h3{
    position: relative;
    display: inline-block;
}
.heading-container h2{
    position: absolute;
    display: inline-block;
    right: 0px;
}
i:hover{
    cursor: pointer;
}
.conatiner-fluid{
    padding-left: 10px;
    padding-right: 10px;
}

