.table{
    width: 100%;
}
.table-container{
    overflow-y:scroll;
    max-height:300px;
    display:block;
    width: 100%;

}


i:hover{
    cursor: pointer;
}
.conatiner-fluid{
    padding-left: 10px;
    padding-right: 10px;
}

