.grid-container{
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(4,25vh);
    grid-template-areas: 
    "header header header header header header"
    " . login login signup signup ."
    " . login login signup signup ."
    "footer footer footer footer footer footer"
    ;
}

.signup{
    grid-area: signup;  
    justify-content: center;
}
.login{
    grid-area: login;
    border-right: solid 2px grey;
    justify-content: center;
}
.login-container{
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}
.header{
    grid-area: header;
}
.footer{
    grid-area: footer;
}
.forgot{
    float: right;
    color: #007bff;
}
.forgot:hover{
  cursor: pointer;
}
