<div class="grid-container">
    <div class="header"></div>
    <div class="login">
        <div class="login-container">
            <form action="">
                <div class="from-group">
                    <label for="email">Email</label>
                    <input type="email" name="email" id="email" class="form-control">
                </div>
                <div class="form-group">
                    <label for="password">Password</label>
                    <label for="password" class="forgot" [routerLink]="['ForgotPassword']" routerLinkActive="router-link-active" ><i>Forgot Password?</i></label>
                    <input type="password" name="password" id="password" class="form-control">
                </div>
                <div class="alert alert-warning text-center">
                    <p>No matching email or password</p>
                </div>
                <div class="form-group">
                    <button [routerLink]="['Dashboard']" type="button" class="btn btn-primary form-control">Login</button>
                </div>
            </form>
        </div>
    </div>
    <div class="signup">
        <div class="login-container">
            <h3>Don't have an account?</h3>
            <p>No problem create one and start applying for jobs at BMW</p>
            <div class="text-right">
                <button [routerLink]="['CreateAccount']" routerLinkActive="router-link-active"  class="btn btn-primary">Create Account</button>
            </div>
            
        </div>
        
    </div>
    <div class="footer"></div>
</div>
