<div class="container-fluid">
    <h1>The Job Name HERE</h1>
    <hr>
    <h4>Introduction:</h4>
    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Dicta libero aliquam repudiandae commodi a, asperiores explicabo corporis perferendis, enim adipisci harum omnis perspiciatis inventore maiores cum ab, excepturi nemo! Expedita.</p>
    <hr>
    <h4>Job Description:</h4>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aperiam earum error minima ratione iste libero quasi, ipsum quae eius similique quam blanditiis asperiores et delectus temporibus magni rem laborum praesentium.</p>
    <hr>
    <h4>Requirements:</h4>
    <ul>
        <!-- NGFOR HERE WITH ALL THE REQUIREMENTS -->
        <li>Do 20 pushups</li>
        <li>Has never stolen a chip from someone</li>
    </ul>
    <br>
    <h4>Skills:</h4>
    <ul>
        <!-- NGFOR HERE WITH ALL THE SKILLS -->
        <li>MySQL</li>
        <li>AI</li>
    </ul>
    <h4>Languages Needed:</h4>
    <ul>
        <!-- NGFOR HERE WITH ALL THE REQUIREMENTS -->
        <li>German</li>
        <li>English</li>
    </ul>
    <div class="row">
        <div class="col-lg-3 col-sm-12">
            <h5>Start Date: dd/mm/yyyy</h5>
        </div>
        <div class="col-lg-3 col-sm-12">
            <h5>End Date: dd/mm/yyyy</h5>
        </div>
        <div class="col-lg-3 col-sm-12">
            <h5>Travel Expected: Yes/No</h5>
        </div>
        <div class="col-lg-3 col-sm-12">
            <h5>Avg Working Hours: XXX</h5>
        </div>
    </div>
    <hr>
    <!-- WE WILL NEED TO NGIF HERE -->
    <h3>Test you will need to complete</h3>
    <h5>Casino Royale</h5>
    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Beatae rem, sint sit illo quae ullam animi. Velit, molestias delectus laudantium, reprehenderit at officiis eaque ipsa ea, voluptatem distinctio quos iste.</p>
    <h3>Find Test Here</h3>
    <p><a href="">www.asdasdasdasdasd.com</a></p>
</div>