<div class="container-fluid">
    <div class="row">
        <div class="col-lg-3 col-sm-12">
            <div class="form-group">
                <label for="search">Search</label>
                <input type="text" name="search" id="search" class="form-control">
            </div>
        </div>
        <div class="col-lg-2 col-sm-12">
            <div class="form-group">
                <label for="userType">Select User Type</label>
                <select name="userType" id="userType" class="form-control">
                    <option value="all" selected>All</option>
                    <option value="all">Employee</option>
                    <option value="all">Applicant</option>
                </select>
            </div>
        </div>
        <div class="col-lg-3 col-sm-12">
            <div class="form-group">
                <label for="userDepartment">Select Department</label>
                <select name="userDepartment" id="userDepartment" class="form-control">
                    <option value="all" selected>All</option>
                    <option value="all">Fz 2</option>
                    <option value="all">Fz 3</option>
                </select>
            </div>
        </div>
        <div class="col-lg-2 col-sm-12">
            <div class="form-group">
                <label for="skills">Skills</label><br>
                <input type="text" name="skills" id="skills" class="form-control">
            </div>
        </div>
        <div class="col-lg-2 col-sm-12">
            <div class="form-group">
                <label for="languages">Languages</label>
                <input type="text" id="languages" name="languages" class="form-control">
            </div>
        </div>
    </div>
    <div class="container-fluid">
        <div class="panel-container">
            <table class="table">
                <thead>
                    <th>Name</th>
                    <th>Surname</th>
                    <th>User Type</th>
                    <th>Department</th>
                    <th>Action</th>
                </thead>
                <tbody>
                    <tr>
                        <td>Jonathan</td>
                        <td>van der Breggen</td>
                        <td>Employee</td>
                        <td>FZ-4</td>
                        <td><i class="far fa-pencil-alt" [routerLink]="['/Dashboard/UpdateEmployee/5']"></i><i class="fas fa-eye ml-4"></i></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>