<div class="container-fluid">
    <div class="row">
        <div class="col-lg-6 col-sm-12">
            <h2>Employee Details</h2>
            <div class="panel-container sm-container panel-ext">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-lg-6 col-sm-12">
                            <div class="form-group">
                                <label for="jobPosition">Job Position</label>
                                <select name="jobPosition" id="jobPosition" class="form-control">
                                    <option value="null" selected disabled>Please Select Job Position</option>
                                    <option value="1">Manager</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-lg-6 col-sm-12">
                            <div class="form-group">
                                <label for="jobSchedule">Schedule</label>
                                <select name="jobSchedule" id="jobSchedule" class="form-control">
                                    <option value="null" selected disabled>Please Select Schedule</option>
                                    <option value="1">Temporary</option>
                                    <option value="1">Permanent</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-lg-6 col-sm-12">
                            <div class="form-group">
                                <label for="jobSalary">Salary</label>
                                <input type="number" name="jobSalary" id="jobSalary" class="form-control">
                            </div>
                        </div>
                        <div class="col-lg-6 col-sm-12">
                            <div class="form-group">
                                <label for="jobLocation">Location</label>
                                <select name="jobSchedule" id="jobSchedule" class="form-control">
                                    <option value="null" selected disabled>Please Select Location</option>
                                    <option value="1">Menlyn</option>
                                    <option value="1">Midrand</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-lg-8 col-sm-12">
                            <div class="form-group">
                                <label for="contract">Contract</label>
                                <input type="file" name="contract" id="contract" class="form-control">
                            </div>
                        </div>
                        <div class="col-lg-4 col-sm-12">
                            <div class="form-group">
                                <button class="btn btn-outline-primary mt-4">Download Contract</button>
                            </div>
                        </div>
                        <div class="col-12">
                            <app-role-picker></app-role-picker>
                        </div>
                        <div class="col-12">
                            <button class="btn btn-outline-primary float-right mt-4"><h3>Make Employee</h3></button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-6 col-sm-12">
            <h2>Applicant Details</h2>
            <div class="panel-container sm-container panel-ext">
                <div class="container mt-4">
                    <div class="img-container">
                        <img src="../../../../../assets/profile/Calvin.jpg" alt="Profile" class="profile-img">
                    </div>
                </div>
                <div class="container">
                    <div class="row">
                        <div class="col-md-2 col-sm-0"></div>
                        <div class="col-md-4 col-sm-12">
                            <h3>Name</h3>
                            <p>Calvin</p>
                        </div>
                        <div class="col-md-2 col-sm-0"></div>
                        <div class="col-md-4 col-sm-12">
                            <h3>Surname</h3>
                            <p>Hoffman</p>
                        </div>
                        <div class="col-md-2 col-sm-0"></div>
                        <div class="col-md-4 col-sm-12">
                            <h3>Nationality</h3>
                            <p>South African</p>
                        </div>
                        <div class="col-md-2 col-sm-0"></div>
                        <div class="col-md-4 col-sm-12">
                            <h3>Country</h3>
                            <p>South Africa</p>
                        </div>
                        <div class="col-md-2 col-sm-0"></div>
                        <div class="col-md-4 col-sm-12">
                            <h3>Contact</h3>
                            <p>0826541258</p>
                        </div>
                        <div class="col-md-2 col-sm-0"></div>
                        <div class="col-md-3 col-sm-12">
                           <div class="form-group">
                                <h3>Email</h3>
                                <input type="text" name="email" id="email" class="form-control">
                           </div>
                        </div>
                        <div class="col-md-1 col-sm-0"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>