<div class="notification-holder">
    <div class="container-fluid">
        <div class="row">
            <!-- NG FOR STUFF -->
            <div class="col-12 border-el">
                <h2>Stuff</h2>
                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Laborum vitae veritatis nihil aspernatur, corrupti nulla ullam, qui dolore quos ratione velit nesciunt placeat, unde rerum aliquid voluptas tenetur totam porro?</p>
                <p class="text-right">12:30</p>
            </div>
            <div class="col-12 border-el">
                <h2>Stuff</h2>
                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Laborum vitae veritatis nihil aspernatur, corrupti nulla ullam, qui dolore quos ratione velit nesciunt placeat, unde rerum aliquid voluptas tenetur totam porro?</p>
                <p class="text-right">16:15</p>
            </div>
            <div class="col-12 border-el">
                <h2>Stuff</h2>
                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Laborum vitae veritatis nihil aspernatur, corrupti nulla ullam, qui dolore quos ratione velit nesciunt placeat, unde rerum aliquid voluptas tenetur totam porro?</p>
                <p class="text-right">18:30</p>
            </div>
        </div>
    </div>
</div>