<div class="container-fluid">
    <div class="row">
        <div class="col-md-6 col-sm-12">
            <h1>Jobs</h1>
            <div class="panel-container panel-ext">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-lg-4 col-sm-12">
                            <div class="form-group">
                                <label for="jobSearch">Search Jobs</label>
                                <input type="text" name="jobSearch" id="jobSearch" class="form-control">
                            </div>
                        </div>
                    </div>
                    <app-job-listing-card></app-job-listing-card>
                    <app-job-listing-card></app-job-listing-card>
                </div>
                
            </div>
        </div>
        <div class="col-md-2 col-sm-0"></div>
        <div class="col-md-4 col-sm-12">
            <h1>My Applications</h1>
            <div class="panel-container panel-ext">
                <app-my-applications></app-my-applications>
            </div>
        </div>
    </div>
</div>