<div class="container-fluid">
    <button type="button" class="close" aria-label="Close" (click)="activeModal.close('Close click')">
        <span aria-hidden="true">&times;</span>
    </button>
    <h1 *ngIf="editJob">Edit Job</h1>
    <h1 *ngIf="!editJob">Add Job</h1>
    <form [formGroup]="jobForm">
        <div class="row">
            <div class="col-md-6 col-sm-12">
                <div class="form-group">
                    <label for="job">Job</label>
                    <input type="text" name="job" id="job" class="form-control" formControlName="jobName" [class.is-invalid]="userJob.touched && !userJob.valid">
                </div>
            </div>
            <div class="col-md-6 col-sm-0"></div>
            <div class="col-12">
                <button class="btn btn-outline-primary mb-4 float-right" [disabled]="!jobForm.valid" (click)="saveJob()">Save</button>
            </div>
        </div>

        <div *ngIf="userJob.invalid && ( userJob.dirty || userJob.touched)" class="alert alert-danger">
          Job is required.
        </div>
    </form>
</div>
