<div class="container-fluid">
    <button type="button" class="close" aria-label="Close" (click)="activeModal.close('Close click')">
        <span aria-hidden="true">&times;</span>
    </button>
    <h1 *ngIf="viewId">Edit View Authorization</h1>
    <h1 *ngIf="!viewId">Add View Authorization</h1>
    <form [formGroup]="viewAuthForm">
        <div class="row">
            <div class="col-md-6 col-sm-12">
                <div class="form-group">
                    <label for="view">View</label>
                    <select name="view" id="view" class="form-control" formControlName="viewId" [class.is-invalid]="userView.touched && !userView.valid">
                        <option value="null" Disabled Selected>Select a view</option>
                        <option *ngFor="let item of views" [value]="item.id">{{item.view}}</option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="role">Role</label>
                    <select name="role" id="role" class="form-control" formControlName="roleId" [class.is-invalid]="userRole.touched && !userRole.valid">
                        <option value="null" Disabled Selected>Select a role</option>
                        <option *ngFor="let item of roles" [value]="item.roleId">{{item.roleName}}</option>
                    </select>
                </div>
            </div>
            <div class="col-md-6 col-sm-0"></div>
            <div class="col-12">
                <button class="btn btn-outline-primary mb-4 float-right" [disabled]="!viewAuthForm.valid" (click)="saveViewAuth()">Save</button>
            </div>
        </div>

        <div *ngIf="userView.invalid && ( userView.dirty || userView.touched)" class="alert alert-danger">
          View is required.
        </div>

        <div *ngIf="userRole.invalid && ( userRole.dirty || userRole.touched)" class="alert alert-danger">
          Role is required.
        </div>
    </form>
</div>
