    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-8 col-md-12">
                <div class="panel-container sm-container panel-ext">
                    <h2>Filter</h2>
                    <form [formGroup]="authForm">
                        <div class="container-fluid">
                            <div class="row">
                                <div class="col-lg-3 col-md-12">
                                    <div class="form-group">
                                        <label for="roleEffecting">Role Effecting</label>
                                        <select name="roleEffecting" id="roleEffecting" class="form-control" formControlName="roleaffecting">
                                            <option value="null">All</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-lg-3 col-md-12">
                                        <label for="roleTarget">Role Target</label>
                                        <select name="roleTarget" id="roleTarget" class="form-control" formControlName="roleTarget">
                                            <option value="null">All</option>
                                        </select>
                                </div>
                                <div class="col-lg-3 col-md-12">
                                        <label for="database">Database Table</label>
                                        <select name="database" id="database" class="form-control"formControlName="dbtableid" >
                                            <option value="null">All</option>
                                        </select>
                                </div>
                                <div class="col-lg-3 col-md-12">
                                    <label for="operation">Operation</label>
                                    <select name="operation" id="operation" class="form-control">
                                        <option value="null">All</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </form>
                    <hr>
                    <div class="container-fluid">
                        <h2>Operation Authorisations</h2>
                        <table class="table greyHead">
                            <thead>
                                <th>Role Affecting</th>
                                <th>Role Target</th>
                                <th>Operation</th>
                                <th>Database Table</th>
                                <th class="text-center">Action</th>
                            </thead>
                            <tbody>
                              <tr *ngFor="let item of operationAuthorisations"><td>{{item.roleaffected}}</td><td>{{item.roletarget}}</td><td>{{item.operationid}}</td><td>{{item.dbtableid}}</td><td class="text-center"><i class="fas fa-trash-alt ml-4" (click)="deleteOperationAuthorisation(item.roleaffected, item.roletarget, item.operationid,item.dbtableid)"></i></td></tr>
                                <tr>

                                    <td>Manager</td>
                                    <td>Manager</td>
                                    <td>Update</td>
                                    <td>Report</td>
                                    <td class="text-center"><i class="fas fa-trash-alt ml-4"></i></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-12 mt-lg-0 mt-md-4">
                <div class="sm-container">
                    <form [formGroup]= "newAuthForm">
                        <div class=" sm-container panel pt-2 pb-2">
                            <h2>Add Operation Authorisation</h2>
                                <div class="container-fluid">
                                    <div class="row">
                                        <div class="col-lg-6 col-md-12">
                                            <label for="addRoleAffecting">Role Affecting</label>
                                            <select name="addRoleAffecting" id="addRoleAffecting" class="form-control">
                                                <option value="null" selected disabled>Select Role</option>
                                            </select>
                                        </div>
                                        <div class="col-lg-6 col-md-12">
                                            <label for="addRoleTarget">Role Target</label>
                                            <select name="addRoleTarget" id="addRoleTarget" class="form-control">
                                                <option value="null" selected disabled>Select Role</option>
                                            </select>
                                        </div>
                                        <div class="col-lg-6 col-md-12">
                                            <label for="addOperation">Operation</label>
                                            <select name="addOperation" id="addOperation" class="form-control">
                                                <option value="null" selected disabled>Select Operation</option>
                                            </select>
                                        </div>
                                        <div class="col-lg-6 col-md-12">
                                            <label for="addDatabase">Database Table</label>
                                            <select name="addDatabase" id="addDatabase" class="form-control">
                                                <option value="null" selected disabled>Select Database</option>
                                            </select>
                                        </div>
                                        <div class="col-12">
                                            <button class="btn btn-outline-primary float-right mt-lg-4 mt-md-0">Add Operation</button>
                                        </div>
                                    </div>
                                </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
