<div class="container-fluid">
    <div class="row">
        <div class="col-lg-5 col-md-12">
            <h1>Job Requests</h1>
            <div class="sm-container panel panel-container">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-sm-12 col-lg-6">
                            <app-approval-card></app-approval-card>
                        </div>
                        
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-7 col-md-12">
            <h1>Unconfirmed Application Lists</h1>
            <div class="panel-container">
                <div class="conatiner-fluid">
                    <table class="table greyHead">
                        <thead>
                            <th>Job Card Name</th>
                            <th>Action</th>
                        </thead>
                        <tbody>
                            <tr><td>Operations Manager</td><td><i class="fas fa-eye"></i></td></tr>
                            <tr><td>Operations Manager</td><td><i class="fas fa-eye"></i></td></tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>