<div class="container-fluid">
    <div class="row">
        <div class="col-lg-5 col-md-12">
            <h1>Job Requests</h1>
            <div class="sm-container panel panel-container">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-sm-12 col-lg-6">
                            <app-approval-card></app-approval-card>
                        </div>
                        
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-7 col-md-12">
            <h1>Unconfirmed Application Lists</h1>
            <div class="sm-container panel-container">

            </div>
        </div>
    </div>
</div>