<div class="container-fluid">
    <div class="sm-container panel-container panel-ext">
        <h3>Filter Audit Log</h3>
        <form>
            <div class="container-fluid">
            <div class="row">
                <div class="col-lg-3 col-sm-12">
                    <label for="database">Database Table</label>
                    <select class="form-control" name="database" id="database">
                        <option value="null" selected>All Databases</option>
                    </select>
                </div>
                <div class="col-lg-2 col-sm-12">
                    <label for="startDate">Starting Date</label>
                    <input class="form-control" placeholder="yyyy/mm/dd" type="date" name="startDate" id="startDate">
                </div>
                <div class="col-lg-2 col-sm-12">
                    <label for="startDate">Starting Date</label>
                    <input class="form-control" placeholder="yyyy/mm/dd" type="date" name="startDate" id="startDate">
                </div>
                <div class="col-lg-3 col-sm-12">
                    <label for="startDate">Employee</label>
                    <input class="form-control" type="text" name="startDate" id="startDate">
                </div>
                <div class="col-lg-2 col-sm-12">
                    <button class="btn btn-outline-primary mt-lg-4 mt-sm-0">Filter</button>
                </div>
            </div>
            <table class="table greyHead mt-2">
                <thead>
                    <th>#</th>
                    <th>User ID</th>
                    <th>User Name</th>
                    <th>User Surname</th>
                    <th>Operation Performed</th>
                    <th class="text-right">Date Performed</th>
                </thead>
                <tbody>
                    <tr><td>1</td><td>5</td><td>Jonathan</td><td>van der Breggen</td><td>Updated User 5 Profile</td><td class="text-right">08/05/2020 17:15</td></tr>
                    <tr><td>2</td><td>6</td><td>Marli</td><td>Du Bison</td><td>Deleted User 5 Profile</td><td class="text-right">09/05/2020 17:15</td></tr>
                </tbody>
            </table>
            </div>
        </form>
    </div>
</div>