<div class="container-fluid">
    <div class="row">
        <div class="col-sm-12 col-md-4 mt-2">
            <div class="panel-container panel-ext sm-container">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-sm-12 col-md-6">
                            <h1>Skills</h1>
                        </div>
                        <div class="col-sm-12 col-md-6">
                            <button class="btn btn-outline-primary mt-4 float-right" (click)="pendingSkills()">Pending Skills 6</button>
                        </div>
                    </div>
                </div>
                <form>
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-sm-12 col-md-6">
                                <div class="form-group form-inline">
                                    <h5>Search Skills:</h5> <input type="text" class="form-control ml-2">
                                </div>
                            </div>
                        </div>
                    </div>
                    
                </form>
                <div>
                    <div class="group-right" (click)="addSkill()">
                        <h5>New Skill</h5><h5><i class="fa fa-plus" aria-hidden="true"></i></h5>
                    </div>
                    <table class="table greyHead">
                        <thead>
                            <tr>
                                <th>Skill</th>
                                <th class="text-center">Action</th>
                            </tr>
                        </thead>
                        <!-- LOCATIONS GO HERE -->
                        <tr><td>Do 10 pushup in 5 seconds</td><td class="text-center"><i class="far fa-pencil-alt"></i><i class="fas fa-trash-alt ml-4"></i></td></tr>
                    </table>
                </div>
            </div>
        </div>
        <div class="col-sm-12 col-md-8 mt-2">
            <div class="panel-container panel-ext sm-container">
                <ngb-tabset #t="ngbTabset">
                    <ngb-tab id="tab-selectbyid1">
                      <ng-template ngbTabTitle><h3>Requirements</h3></ng-template>
                      <ng-template ngbTabContent>
                        <div class="container-fluid">
                            <div class="row" style="height: 100%;">
                                <div class="col-sm-12 col-md-6">
                                    <form class="mt-4 ml-4">
                                        <div class="form-group form-inline">
                                            <h5>Search Requirement:</h5> <input type="text" class="form-control ml-2">
                                        </div>
                                    </form>
                                </div>
                                <div class="col-sm-12 col-md-6">
                                    <button class="mt-4 float-right btn btn-outline-primary" (click)="pendingRequirements()"> Pending Requirements 6</button>
                                </div>
                                <div class="col-12">
                                    <div class="mt-2">
                                        <div class="group-right" (click)="addRequirement()">
                                            <h5>New Requirements</h5><h5><i class="fa fa-plus" aria-hidden="true"></i></h5>
                                        </div>
                                        <table class="table greyHead">
                                            <thead>
                                                <tr>
                                                    <th>Requirement</th>
                                                    <th class="text-right">Action</th>
                                                </tr>
                                            </thead>
                                            <!-- Requirements GO HERE -->
                                            <tr><td>Must have 10 years in bootstrap expereince</td><td class="text-right"><i class="far fa-pencil-alt"></i><i class="fas fa-trash-alt ml-4"></i></td></tr>
                                            <tr><td>Must be able to run 10km in 1 hour 45 mins</td><td class="text-right"><i class="far fa-pencil-alt"></i><i class="fas fa-trash-alt ml-4"></i></td></tr>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                      </ng-template>
                    </ngb-tab>
                    <ngb-tab id="tab-selectbyid2">
                      <ng-template ngbTabTitle><h3>Questions</h3></ng-template>
                      <ng-template ngbTabContent>
                        <div class="container-fluid">
                            <div class="row" style="height: 100%;">
                                <div class="col-sm-12 col-md-6">
                                    <form class="mt-4 ml-4">
                                        <div class="form-group form-inline">
                                            <h5>Search Questions:</h5> <input type="text" class="form-control ml-2">
                                        </div>
                                    </form>
                                </div>
                                <div class="col-sm-12 col-md-6">
                                    <button class="mt-4 float-right btn btn-outline-primary" (click)="pendingQuestions()"> Pending Questions 6</button>
                                </div>
                                <div class="col-12">
                                    <div class="mt-2">
                                        <div class="group-right" (click)="addQuestion()">
                                            <h5>New Question</h5><h5><i class="fa fa-plus" aria-hidden="true"></i></h5>
                                        </div>
                                        <table class="table greyHead">
                                            <thead>
                                                <tr>
                                                    <th>Question</th>
                                                    <th class="text-right">Action</th>
                                                </tr>
                                            </thead>
                                            <!-- QUESTIONS GO HERE -->
                                            <tr><td>Have you ever worked in the automotive industry</td><td class="text-right"><i class="far fa-pencil-alt"></i><i class="fas fa-trash-alt ml-4"></i></td></tr>
                                            <tr><td>Can you speak more than 1 language</td><td class="text-right"><i class="far fa-pencil-alt"></i><i class="fas fa-trash-alt ml-4"></i></td></tr>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                      </ng-template>
                    </ngb-tab>
                  </ngb-tabset>
            </div>
        </div>
    </div>
</div>