.flex-container{
    margin-top: 10px;
    background-color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;
}
.flex-left{
    padding-left: 8px;
    padding-right: 8px;
    flex: 3;
    
}
.flex-right{
    flex: 1;
}
.flex-container:hover{
    cursor: pointer;
    background-clip: padding-box;
    box-shadow: 0 .25rem .75rem rgba(0,0,0,.1);
}
