<div class="flex-container">
    <div>
        <img src="../../../../../assets/profile/Calvin.jpg" alt="test">
    </div>
    <div>
        <p>Jonathan</p>
        <p>van der Breggen</p>
    </div>
    <div class="fill-flex">
        <div class="top-right"  ngbDropdown container="body" display="dynamic" #dropper="ngbDropdown">
            <button ngbDropdownToggle  class="btn elipse" id="dropdownManual" (focus)="dropper.open()" ><i class="fas fa-ellipsis-h"></i></button>
            <div ngbDropdownMenu aria-labelledby="dropdownManual" >
              <button ngbDropdownItem (click)="createInterview()">Interview</button>
              <button ngbDropdownItem>Shortlist</button>
              <button ngbDropdownItem>Undecided</button>
              <button ngbDropdownItem>Disqualify</button>
            </div>
        </div>
    </div>
    
</div>