.flex-container{
    height: 100%;
    width: 100%;
    display: flex;
}

.flex-container  p{
    margin: 0;
    padding: 0;
    margin-left: 10px;
}
.flex-container  p:first-of-type{
    margin-top: 15px;
    padding: 0;
}

.fill-flex{
    position: relative;
    flex-grow: 1;
}
.removeUser{
    position: absolute;
    top:5px;
    right:10px;
}

.top-right{
    position: absolute;
    top: 0px;
    right: 0px;
}
.dropdown-toggle::after {
    display:none;
}
