.assignedCard{
    margin-top: 5px;
    margin-bottom: 5px;
    border: 1px solid #e6e7ea;
    position: relative;
}
.assignedCard p{
    margin-bottom: 5px;
}
.assignedCard:hover{
    cursor: pointer;
    box-shadow: 0 .25rem .75rem rgba(0,0,0,.1);
}
.top-right{
    position: absolute;
    top: 0px;
    right: 0px;
}
