<div class="container">
    <button type="button" class="close" aria-label="Close" (click)="activeModal.close('Close click')">
        <span aria-hidden="true">&times;</span>
      </button>
    <h1>Change Profile Image</h1>
    <hr>
    <form>
        <div class="form-group">
            <label for="file">Upload Image</label>
            <input type="file" name="file" id="file" class="form-control">
            <button class="btn btn-primary mt-4">Change Profile</button>
        </div>
    </form>
</div>
