<div class="container-fluid requestCard">
        <div class="row">
            <div class="col-9">
                <h4>{{cardDetails?.job}}</h4>
                <p class="inline-p">Status: {{cardDetails?.status}}</p><p class="inline-p">Stage: {{cardDetails?.stage}}</p>
                <p>Requested Date: {{cardDetails?.requestedDate | date : 'short'}}</p>
            </div>
            <div class="col-3">
                <h4 class="mt-4"><i class="far fa-pencil-alt" *ngIf="!cardDetails?.jobCardId && (cardDetails?.status !='Rejected')" (click)="outputRequest()"></i><i class="fas fa-trash-alt ml-4"></i></h4>
            </div>
        </div>
</div>
