<div class="container-fluid">
    <div class="row">
        <!-- Tables Section -->
        <div class="col-md-6 col-sm-12">
            <div class="sm-container panel-container sm-container panel-ext">
                <h1>Tables</h1>
                <form>
                    <div class="container-fluid">
                    <div class="row">
                            <div class="col-lg-3 col-sm-12">
                                <div class="form-group">
                                    <label for="tableSearch">Search Table</label>
                                    <input class="form-control" type="text" name="tableSearch" id="tableSearch">
                                </div>
                            </div>
                            <div class="col-lg-3 col-sm-12">
                                <div class="form-group">
                                    <label for="tableType">Table Type</label>
                                    <select class="form-control" name="tableType" id="tableType">
                                        <option value="null" selected>All</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-lg-3 col-sm-12">
                                <div class="form-group">
                                    <label for="building">Building</label>
                                    <select class="form-control" name="building" id="building">
                                        <option value="null" selected>All</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-lg-3 col-sm-12">
                                <div class="form-group">
                                    <label for="floor">Floor</label>
                                    <select class="form-control" name="floor" id="floor">
                                        <option value="null" selected>All</option>
                                    </select>
                                </div>
                            </div>
                        
                    </div>
                    </div>
                </form>
                <table class="greyHead table"> 
                    <thead>
                        <th>Table</th>
                        <th>Table Type</th>
                        <th>Building</th>
                        <th>Floor</th>
                        <th class="text-right">Actions</th>
                    </thead>
                    <tbody>
                        <tr><td>ZF-2-2</td><td>Desk</td><td>Menlyn Maine Court</td><td>Level 1</td><td class="text-right"><i class="far fa-pencil-alt"></i><i class="fas fa-trash-alt ml-4"></i></td></tr>
                        <tr><td>ZF-2-3</td><td>Desk</td><td>Menlyn Maine Court</td><td>Level 2</td><td class="text-right"><i class="far fa-pencil-alt"></i><i class="fas fa-trash-alt ml-4"></i></td></tr>
                    </tbody>
                </table>
            </div>
        </div>
        <!-- Other Config Section -->
        <div class="col-md-6 col-sm-12 mt-sm-4 mt-md-0">
            <div class="sm-container panel-container sm-container panel-ext">
                <div class="container-fluid">
                    
                </div>
            </div>
        </div>
    </div>
</div>