<!-- test -->
<div class="container">
    <h1 class="intro">Join the party and create your account!</h1>
    <div>
        <form [formGroup]="userProfile">
            <div class="row">
                <div class="col-md-2 col-sm-0"></div>
                <!-- LEFT SIDE OF FORM-->
                <div class="col-md-4 col-sm-12">
                    <div class="form-group">
                        <label for="name">Name</label>
                        <input class="form-control" [class.is-invalid]="userName.touched && !userName.valid" type="text" name="name" id="name" formControlName='name' required>
                    </div>
                    <div class="form-group">
                        <label for="contact">Contact</label>
                        <input class="form-control" [class.is-invalid]="userContact.touched && !userContact.valid" type="tel" name="contact" id="contact" formControlName='contact' minlength="10" maxlength="10" required>
                    </div>
                    <div class="form-group">
                        <label for="email">Email</label>
                        <input class="form-control" [class.is-invalid]="userEmail.touched && !userEmail.valid" type="email" name="email" id="email" formControlName='email' pattern="^[a-z0-9._%+-]+@[a-z0-9._]+\.[a-z]{2,4}$" required>
                    </div>
                    <div class="form-group">
                        <label for="password">Password</label>
                        <input class="form-control" [class.is-invalid]="userPass.touched && !userPass.valid" type="password" name="password" id="password" formControlName='password' minlength="8" pattern="^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)[a-zA-Z\d]{8,}$" required>
                    </div>
                </div>
                <!-- RIGHT SIDE OF FORM-->
                <div class="col-md-4 col-sm-12">
                    <div class="form-group">
                        <label for="surname">Surname</label>
                        <input class="form-control" [class.is-invalid]="userSurname.touched && !userSurname.valid" type="text" name="surname" id="surname" formControlName='surname' required>
                    </div>
                    <div class="form-group">
                        <label for="country">Select which country you live in</label>
                        <select class="form-control" [class.is-invalid]="userCountry.touched && !userCountry.valid" name="country" id="country" formControlName='countryId' >
                            <option value="null" selected disabled>Select Country</option>
                            <option *ngFor="let country of countries" [value]="country.id">{{country.country}}</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="nationality">Select your nationality</label>
                        <select class="form-control" [class.is-invalid]="userNationality.touched && !userNationality.valid" name="nationality" id="nationality" formControlName='nationalityId'>
                            <option value="null" selected disabled>Select Nationality</option>
                            <option *ngFor="let national of nationalities" [value]="national.nationalityId">{{national.nationality}}</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="confrimPass">Confirmation Password</label>
                        <input class="form-control" [class.is-invalid]="userPassConfirm.touched && !userPassConfirm.valid" type="password" name="confrimPass" id="confrimPass" formControlName='passconfirm' minlength="8" required>
                    </div>
                </div>
                <div class="col-md-2 col-sm-0"></div>
            </div>

            <div class="row">
                <div class="col-md-3 col-sm-12"></div>
                <div class="col-md-6 col-sm-12">
                    <button class="btn btn-primary form-control" type="button" (click)="createAccount()">Create Account</button>
                </div>
                <div class="col-md-3 col-sm-12"></div>
            </div>

           <!--Validation div-->
            <div *ngIf="userName.invalid && (userName.dirty || userName.touched) && (userName.errors.required || userName.errors.invalid)" class="alert alert-danger">
                Name is required.
            </div>

            <div *ngIf=" !userName.valid && userName.touched && userName.value != ''" class="alert alert-danger" >
                <!--<div *ngIf="userName.errors.value">
                Name can only consists of letters.
              </div>-->
                Name can only consist  of lettters.
            </div>

            <div *ngIf=" !userSurname.valid && userSurname.touched && userSurname.value != ''" class="alert alert-danger" >
                Surname can only consist of letters.
            </div>

            <div *ngIf="userSurname.invalid && ( userSurname.dirty || userSurname.touched)" class="alert alert-danger">
                Surname is required.
            </div>

            <div *ngIf=" !userContact.valid && userContact.touched && userContact.string != ''" class="alert alert-danger" >
              Contact can only consist of number.
            </div>
            <div *ngIf="userContact.invalid && ( userContact.dirty || userContact.touched) && (userContact.errors.required  || userContact.errors.invalid)" class="alert alert-danger">
                Contact is required.
            </div>
            <div *ngIf="(userContact.value.length !=10) && ( userContact.dirty || userContact.touched)" class="alert alert-danger">
              Contact must have 10 digits.
            </div>


              <div *ngIf="userEmail.invalid && ( userEmail.dirty || userEmail.touched) && (userEmail.errors.required  || userEmail.errors.invalid)" class="alert alert-danger">
                Email is required.
              </div>


             <div *ngIf="(userPass.value != userPassConfirm.value) "  class="alert alert-danger">
                Both Passwords do not match.
             </div>

            <div *ngIf="userPass.invalid && ( userPass.dirty || userPass.touched) && (userPass.errors.required  || userPass.errors.invalid)" class="alert alert-danger">
              Password  is required.
            </div>

            <div *ngIf="userPassConfirm.invalid && ( userPassConfirm.dirty || userPassConfirm.touched) && (userPassConfirm.errors.required  || userPassConfirm.errors.invalid)" class="alert alert-danger">
              Confirmation Password  is required.
            </div>

            <div>
              <!--to check for uppercase, lowercase and at least one digit-->

            </div>

            <div *ngIf="userPass.invalid  && ( userPass.dirty || userPass.touched) && userPass.errors.minlength" class="alert alert-danger">
              Password must have at least 8 characters.
            </div>

            <div *ngIf="userNationality.invalid && ( userNationality.dirty || userNationality.touched) && (userNationality.errors.required  || userNationality.errors.invalid)" class="alert alert-danger">
              Nationality is required.
            </div>

            <div *ngIf="userCountry.invalid && ( userCountry.dirty || userCountry.touched) && (userCountry.errors.required  || userCountry.errors.invalid)" class="alert alert-danger">
              Country is required.
            </div>

        </form>
    </div>
</div>
