<div class="grid-container">
    <div class="forgot">
        <h1>Forgot your password ?</h1>
        <h6>No worries we will have that fixed for you in a giffy</h6>
        <div class="container mt-5">
            <form [formGroup]="userProfile">
                <div class="row">
                    <div class="col-md-3 col-sm-0"></div>
                    <div class="col-md-6 col-sm-12">
                        <div class="form-group">
                            <label for="email">Please enter your email</label>
                            <input class="form-control" type="email" name="email" id="email"  formControlName='email' >
                            <button class="btn btn-primary resetBtn" type="button">Reset Password</button>
                        </div>
                        <!--Validators-->


                    </div>
                    <div class="col-md-3 col-sm-0"></div>
               </div>


              <div *ngIf="userEmail.invalid && ( userEmail.dirty || userEmail.touched) && (userEmail.errors.required  || userEmail.errors.invalid)" class="alert alert-danger">
                Email is required.
              </div>

              <div *ngIf=" userEmail.invalid && userEmail.touched && userEmail.errors.pattern" class="alert alert-danger">
                Email needs to be a valid email with an @-sign and dot-character (.)
              </div>

            </form>
        </div>
    </div>
</div>
