<div class="grid-container">
    <div class="forgot">
        <h1>Forgot your password ?</h1>
        <h6>No worries we will have that fixed for you in a giffy</h6>
        <div class="container mt-5">
            <form>
                <div class="row">
                    <div class="col-md-3 col-sm-0"></div>
                    <div class="col-md-6 col-sm-12">
                        <div class="form-group">
                            <label for="email">Please enter your email</label>
                            <input class="form-control" type="email" name="email" id="email">
                            <button class="btn btn-primary resetBtn" type="button">Reset Password</button>
                        </div>
                        <div class="alert alert-warning">
                            <h4>Oops!</h4>
                            <p>We do not have a matching email</p>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-0"></div>
                </div>
                
            </form>
        </div>
    </div>
</div>
