.grid-container{
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(4,25vh);
    grid-template-areas: 
    "header header header header header header"
    " . forgot forgot forgot forgot ."
    " . forgot forgot forgot forgot ."
    "footer footer footer footer footer footer"
    ;
}
.forgot{
    grid-area: forgot;
}
.forgot h1{

}
.forgot h6{
    padding-left: 50px;
}
.resetBtn{
    display: block;
    margin-left: auto;
    margin-top: 20px;
}