<div class="container-fluid">
    <button type="button" class="close" aria-label="Close" (click)="activeModal.close('Close click')">
        <span aria-hidden="true">&times;</span>
    </button>
    <h1 *ngIf="editLongQuestion">Edit Question</h1>
    <h1 *ngIf="!editLongQuestion">Add Question</h1>
    <form [formGroup]="questionForm">
        <div class="row">
            <div class="col-md-9 col-sm-12">
                <div class="form-group">
                    <label for="question">Question</label>
                    <input type="text" name="question" id="question" class="form-control" formControlName="question" [class.is-invalid]="userQuestion.touched && !userQuestion.valid">
                </div>
            </div>
            <div class="col-md-3 col-sm-0"></div>
            <div class="col-12">
                <button class="btn btn-outline-primary mb-4 float-right" [disabled]="!questionForm.valid" (click)="save()">Save</button>
            </div>
        </div>

        <div *ngIf="userQuestion.invalid && ( userQuestion.dirty || userQuestion.touched)" class="alert alert-danger">
          Question is required.
        </div>
    </form>
</div>
