<div class="container-fluid">
    <div class="row">
        <div class="col-sm-12 col-md-4 mt-2">
            <div class="panel-container panel-ext sm-container">
                <h1>Roles</h1>
                <form>
                    <div class="form-group form-inline">
                        <h5>Search Role:</h5> <input type="text" class="form-control ml-2">
                    </div>
                </form>
                <div>
                    <div class="group-right" (click)="addRole()">
                        <h5>New Role</h5><h5><i class="fa fa-plus" aria-hidden="true"></i></h5>
                    </div>
                    <table class="table greyHead">
                        <thead>
                            <tr>
                                <th>Role</th>
                                <th class="text-center">Action</th>
                            </tr>
                        </thead>
                        <!-- LOCATIONS GO HERE -->
                        <tr><td>Manager</td><td class="text-center"><i class="far fa-pencil-alt"></i><i class="fas fa-trash-alt ml-4"></i></td></tr>
                        <tr><td>Employee</td><td class="text-center"><i class="far fa-pencil-alt"></i><i class="fas fa-trash-alt ml-4"></i></td></tr>
                        <tr><td>Applicant</td><td class="text-center"><i class="far fa-pencil-alt"></i><i class="fas fa-trash-alt ml-4"></i></td></tr>
                    </table>
                </div>
            </div>
        </div>
        <div class="col-sm-12 col-md-4 mt-2">
            <div class="panel-container panel-ext sm-container">
                <h1>Jobs</h1>
                <form>
                    <div class="form-group form-inline">
                        <h5>Search Jobs:</h5> <input type="text" class="form-control ml-2">
                    </div>
                </form>
                <div class="group-right" (click)="addJob()">
                    <h5>New Job</h5><h5><i class="fa fa-plus" aria-hidden="true"></i></h5>
                </div>
                <table class="table greyHead">
                    <thead>
                        <tr>
                            <th>Job</th>
                            <th class="text-center">Action</th>
                        </tr>
                    </thead>
                    <!-- BUILDINGS GO HERE -->
                    <tr><td>Sap Manager</td><td class="text-center"><i class="far fa-pencil-alt"></i><i class="fas fa-trash-alt ml-4"></i></td></tr>
                    <tr><td>Angular Dev</td><td class="text-center"><i class="far fa-pencil-alt"></i><i class="fas fa-trash-alt ml-4"></i></td></tr>
                </table>
            </div>
        </div>
        <div class="col-sm-12 col-md-4 mt-2">
            <div class="panel-container panel-ext sm-container">
                <h1>View Authorization</h1>
                <form>
                    <div class="form-group form-inline">
                        <h5>Search Authorizations:</h5> <input type="text" class="form-control ml-2">
                    </div>
                </form>
                <div class="group-right" (click)="addViewAuth()">
                    <h5>New View Authorization</h5><h5><i class="fa fa-plus" aria-hidden="true"></i></h5>
                </div>
                <table class="table greyHead">
                    <thead>
                        <tr>
                            <th>View</th>
                            <th>Role</th>
                            <th class="text-center">Action</th>
                        </tr>
                    </thead>
                    <!-- Floors GO HERE -->
                    <tr><td>Reports</td><td>Manager</td><td class="text-center"><i class="far fa-pencil-alt"></i><i class="fas fa-trash-alt ml-4"></i></td></tr>
                    <tr><td>Configuration</td><td>Manager</td><td class="text-center"><i class="far fa-pencil-alt"></i><i class="fas fa-trash-alt ml-4"></i></td></tr>
                </table>
            </div>
            
        </div>
    </div>
</div>