<div class="comment-container">
    <div class="flex-left">
        <app-profile-card class="img-sm" style="height: 40%;"></app-profile-card>
        <hr>
        <h1 class="text-center"><i class="fas fa-stars"></i> 8.2</h1>
    </div>
    <div class="flex-right">
        <div class="lil-padding">
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Molestiae odio nesciunt adipisci alias accusantium laudantium similique recusandae, tempora aspernatur nihil ad dicta aperiam facilis tenetur at blanditiis nemo consequatur vel!</p>
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Molestiae odio nesciunt adipisci alias accusantium laudantium similique recusandae, tempora aspernatur nihil ad dicta aperiam facilis tenetur at blanditiis nemo consequatur vel!</p>
        </div>
    </div>
</div>