<div class="container-fluid">
    <div class="row">
        <div class="col-lg-3 col-md-12">
            <h1>My Teams</h1>
            <div class="sm-container panel-container panel-ext">
                <div class="group-right mt-2 mb-2" (click)="addTeam()">
                    <h5>New Team</h5><h5><i class="fa fa-plus" aria-hidden="true"></i></h5>
                </div>
                <div class="container-fluid">
                    <div class="row">
                        <!-- FOR EACH TEAM ADD THE BELOW DIV WITH A TEAMCARD -->
                        <div class="col-12 mt-2">
                            <app-team-card></app-team-card>
                        </div>
                        <div class="col-12 mt-2">
                            <app-team-card owner="true"></app-team-card>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-6 col-md-12">
            <h1>Team Members</h1>
            <div class="sm-container panel-container panel-ext ">
                <div class="group-right mt-2 mb-2" (click)="addTeamMembers()">
                    <h5>Add Team Member</h5><h5><i class="fa fa-plus" aria-hidden="true"></i></h5>
                </div>
                <div class="container-fluid">
                    <div class="row">
                        <!-- ADD ALL THE TEAM MEMBERS IN HERE -->
                        <div class="col-lg-4 col-md-12">
                            <app-profile-card class=" border-el img-sm" addable="true" ></app-profile-card>
                        </div>
                        <div class="col-lg-4 col-md-12">
                            <app-profile-card class=" border-el img-sm"></app-profile-card>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-12 text-center">
            <button class="btn btn-outline-primary mt-4 pl-4 pr-4">Search All Teams</button>
        </div>
    </div>
</div>