<div class="container-fluid">
    <h1>Confirm Skills</h1>
    <div class="sm-container">
        <div class="row">
            <div class="col-md-4 col-sm-12 border-el">
                <div class="row">
                    <div class="col-8">
                        <h4>Can throw a ball 1 m</h4>
                    </div>
                    <div class="col-4">
                        <button class="btn"><h2><i class="far fa-check-circle"></i></h2></button>
                        <button class="btn"><h2><i class="far fa-times-circle"></i></h2></button>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-12 border-el">
                <div class="row">
                    <div class="col-8">
                        <h4>Knows how to tell kick ass jokes</h4>
                    </div>
                    <div class="col-4">
                        <button class="btn"><h2><i class="far fa-check-circle"></i></h2></button>
                        <button class="btn"><h2><i class="far fa-times-circle"></i></h2></button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>