  <div class="container-fluid">
      <button type="button" class="close" aria-label="Close" (click)="activeModal.close('Close click')">
          <span aria-hidden="true">&times;</span>
      </button>
      <h1 *ngIf="editFloor">Edit Floor</h1>
      <h1 *ngIf="!editFloor">Add Floor</h1>
      <form [formGroup]= "floorForm">
      <div class="row">
          <div class="col-md-6 col-sm-12">
              <div class="form-group">
                  <label for="buildingSelect">Building</label>
                  <select name="buildingName" id="buildingName"  formControlName="buildingId" class="form-control">
                    <option value="null" selected disabled>Please Select a building</option>
                    <option *ngFor="let item of buildings" [value]="item.buildingId">{{item.name}}</option>
                </select>
              </div>
              <div class="form-group">
                  <label for="floor">Floor</label>
                  <input type="text" name="floor" id="floor" formControlName="floorNumber"  class="form-control">
              </div>
          </div>
          <div class="col-md-6 col-sm-0"></div>
          <div class="col-12">
              <button class="btn btn-outline-primary mb-4 float-right" [disabled]="!floorForm.valid" (click)="save()">Save</button>
          </div>
      </div>
    </form>
  </div>
