/* You can add global styles to this file, and also import other style files */
@import '~bootstrap/dist/css/bootstrap.min.css';



.largeModal .modal-dialog .modal-content{

    height: 100%;
    overflow: scroll;
}
.actionBtn:hover{
    cursor: pointer;
}

.largeModal .modal-dialog {
    max-width: 80vw;
    height: 95vh;
  }

.sm-container{
    display: block;
    position: relative;
    height: 100%;
    padding-left: 10px;
    padding-right: 10px;
}
i:hover{
    cursor: pointer;
}
.heading-container{
    position: relative;
}

.heading-container h3{
    position: relative;
    display: inline-block;
}
.heading-container h2{
    position: absolute;
    display: inline-block;
    right: 0px;
}
.group-right{
    display: flex;
    justify-content: flex-end;
}
.group-right:hover{
    cursor: pointer;
}
.group-right h1, .group-right h2, .group-righth3,.group-right h4, .group-right h5{

    display: block;
    padding-left: 10px;
}

.greyHead thead{
    background-color: #f2f2f2;
}
.escape.panel-container{
    overflow: visible !important;
}
.panel-container{
    
    overflow: auto;
    position: relative;
    width: 100%;
    display: flex; 
    flex-flow: column; 
    height: 70vh; 
    background-color: #ffffff;
    background-clip: padding-box;
    box-shadow: 0 .25rem .75rem rgba(0,0,0,.1);
}

.full-component{
    height: 100%;
    display: block;
}
.panel{
    position: relative;
    width: 100%;
    background-color: #ffffff;
    background-clip: padding-box;
    box-shadow: 0 .25rem .75rem rgba(0,0,0,.1);
}

.panel-container.panel-ext{
    height: 80vh;
}
a[aria-selected=false]{
    color: grey;
}

hr {
    border: 0;
    clear:both;
    display:block;
    width: 96%;               
    background-color:#e7e9ec;
    height: 1px;
  }

.active-link{
    color: white !important;
}
.fa-trash-alt:hover{
    color: #ff4136;
}
.fa-pencil-alt:hover{
    color: #ff851b;
}
.fa-crown, .fa-star-half{
    color: gold;
}
.fa-users{
    color: #A75B10;
}
.border-el{
    border: 1px solid #e7e9ec;
}
.border-el:hover{
    cursor: pointer;
    box-shadow: 0 .25rem .75rem rgba(0,0,0,.1);
}
.img-sm img{
    width: 40px; 
    height: 40px; 
    border-radius: 50%; 
    margin-top: 1rem;
    margin-left: 10px;
}
.img-fit img{
    width: 120px; 
    height: 120px; 
    border-radius: 50%; 
    margin-top: 1rem;
    margin-left: 10px;
    
}
.img-fit p{
    font-size: 5vh;
}
.clickable:hover{
    cursor: pointer;
}
.clickable-color:hover{
    cursor: pointer;
    box-shadow: 0 .25rem .75rem rgba(0,0,0,.1);

}