<div class="container">
    <h1>Reset Password</h1>
    <div class="row">
        <div class="col-lg-4 col-sm-0"></div>
        <div class="col-lg-4 col-sm-12">
            <form>
                <div class="form-group">
                    <label for="newPasswrod">New Password</label>
                    <input type="password" name="password" name="password" class="form-control">
                </div>
                <div class="form-group">
                    <label for="confirmPasswrod">New Password</label>
                    <input type="password" name="confirmPasswrod" id="confirmPasswrod" class="form-control">
                    <button class="btn btn-outline-primary form-control mt-4">Reset</button>
                </div>
            </form>
        </div>
        <div class="col-lg-4 col-sm-0"></div>
    </div>
</div>