.teamCard{
    height: 100%;
    width: 100%;
    border: 1px solid #e6e7ea;
    position: relative;
}
.teamCard:hover{
    cursor: pointer;
    box-shadow: 0 .25rem .75rem rgba(0,0,0,.1);
}
.teamCard p{
    margin-bottom: 5px;
}
.teamCard .btn.elipse{
    position: absolute;
    top: 0px;
    right: 0px;
}
.top-right{
    position: absolute;
    top: 0px;
    right: 0px;
}
.membership{
   flex: 1 1 0px;
}
.flex-container{
    display: flex;
}
.dropdown-toggle::after {
    display:none;
}
