<div class="flex-container">
    <div>
        <img src="../../../../../assets/profile/Calvin.jpg" alt="test">
    </div>
    <div>
        <p>Jonathan</p>
        <p>van der Breggen</p>
    </div>
    <div class="fill-flex">
        <div class="container-fluid">
            <h2 *ngIf="accepted" class="text-center mt-3"><i class="far fa-check-square"></i></h2>
            <h2 *ngIf="!accepted"class="text-center mt-3"><i class="far fa-times-square"></i></h2>
        </div>
        
    </div>
    
</div>