<div [className]="viewSideBar ? 'grid-container-sidebar' : 'grid-container'">
  <div class="toast-container">
    <app-toast></app-toast>
  </div>
  <nav class="ribbon clearFix">
    <div class="currentNav" >
      <img [hidden]="viewSideBar" class="hamburger" src="../assets/icons/hamburger_open.svg" alt="Hamburger" (click)="toggleSideBar()">
      <h3>Dashboard</h3>
    </div>
    <ul>
      <li class="logout" (click)="logout()">
        <h6>Logout</h6>
      </li>
      <li style="position:relative; cursor: pointer;" >
        <img (click)="notificationToggle = !notificationToggle" class="notificationImg" src="../assets/icons/bellWarn.svg" alt="Notification">
        <app-notification *ngIf="notificationToggle"></app-notification>
      </li>
      <li>
        <app-profile-card class="profileContainer img-sm" (click)="editProfile()" [cardDetails]="userProfileCard"></app-profile-card>
      </li>
    </ul>
    
  </nav>
  <div class="sideBar">
    <div class="logo text-right">
      <img class="hamburger" src="../assets/icons/hamburger.svg" alt="Hamburger" (click)="toggleSideBar()">
    </div>
    
    <ul class="sideBarNav">
      <h3>NAVIGATION</h3>
      <li [routerLink]="['/Dashboard']"><i class="fad fa-home"></i><span>Home</span></li>
      <li [routerLink]="['/Dashboard/Booking']" routerLinkActive="active-link" *ngIf="searchView('booking')"><i class="fas fa-calendar-minus"></i><span>Booking</span></li>
      <li *ngIf="searchView('assistant booking')"><i class="fal fa-calendar-alt"></i><span>Assistant Booking</span></li>
      <li [routerLink]="['/Dashboard/Teams']" routerLinkActive="active-link" *ngIf="searchView('team')"><i class="fas fa-user-friends"></i><span>Team</span></li>
      <li [routerLink]="['/Dashboard/Interviews']" routerLinkActive="active-link" ><i class="fal fa-copy"></i><span>Interviews</span></li>
      <li class="accordian-parent" (click)="hrToggle = !hrToggle" *ngIf="searchView('hr')"><i class="far fa-share-alt"></i><span>HR</span><span class="arrow"><i [class]="(!hrToggle) ? 'far fa-chevron-down' : 'far fa-chevron-up'"></i></span>
        <ul class="accordian" *ngIf="hrToggle" (click)="hrToggle = !hrToggle">
          <li [routerLink]="['/Dashboard/JobCardDashboard']" routerLinkActive="active-link" >Job Cards</li>
          <li [routerLink]="['/Dashboard/HireManagerControl']" routerLinkActive="active-link" *ngIf="searchView('hr control')">Hire Manager Control</li>
        </ul>
      </li>
      <li class="accordian-parent" (click)="managerToggle = !managerToggle" *ngIf="searchView('manager')"><i class="fad fa-glasses"></i><span>Manger</span><span class="arrow"><i [class]="(!managerToggle) ? 'far fa-chevron-down' : 'far fa-chevron-up'"></i></span>
        <ul class="accordian" *ngIf="managerToggle" (click)="managerToggle = !managerToggle">
          <li [routerLink]="['/Dashboard/InterviewReport']" routerLinkActive="active-link" ><span>Interview Report</span></li>
          <li [routerLink]="['/Dashboard/StageReport']" routerLinkActive="active-link" ><span>Stage Report</span></li>
          <li [routerLink]="['/Dashboard/TeamReport']" routerLinkActive="active-link" ><span>TeamReport</span></li>
          <li [routerLink]="['/Dashboard/CandidateReport']" routerLinkActive="active-link" ><span>Candidate Report</span></li>
          <li [routerLink]="['/Dashboard/BookingReport']" routerLinkActive="active-link" ><span>Booking Report</span></li>
          <li [routerLink]="['/Dashboard/SearchEmployee']" routerLinkActive="active-link" ><span>Search User</span></li>
          <li [routerLink]="['/Dashboard/HireRequest']" routerLinkActive="active-link" ><span>Employee Requests</span></li>
        </ul>
      </li>
      <li class="accordian-parent" (click)="configToggle = !configToggle" *ngIf="searchView('config')"><i class="far fa-cogs"></i><span>Configuration</span><span class="arrow"><i [class]="(!configToggle) ? 'far fa-chevron-down' : 'far fa-chevron-up'"></i></span>
        <ul class="accordian" *ngIf="configToggle" (click)="configToggle = !configToggle">
          <li [routerLink]="['/Dashboard/ConfigJobCard']" routerLinkActive="active-link">Job Card</li>
          <li [routerLink]="['/Dashboard/ConfigTable']" routerLinkActive="active-link">Tables</li>
          <li [routerLink]="['/Dashboard/ConfigBuilding']" routerLinkActive="active-link">Buildings</li>
          <li [routerLink]="['/Dashboard/ConfigCompany']" routerLinkActive="active-link">Company</li>
          <li [routerLink]="['/Dashboard/ConfigSkillsAndQuestions']" routerLinkActive="active-link">Skills Requirement & Questions</li>
          <li [routerLink]="['/Dashboard/ConfigRolesAndAuthorization']" routerLinkActive="active-link">Roles and Authorizations</li>
          <li [routerLink]="['/Dashboard/AuditAuthorization']" routerLinkActive="active-link">Operation Authorization</li>
        </ul>
      </li>
      <li [routerLink]="['/Dashboard/JobListing']" routerLinkActive="active-link" *ngIf="searchView('job listing')"><i class="fad fa-list-alt"></i><span>Job Listings</span></li>
      <li [routerLink]="['/Dashboard/JobCardApproval']" routerLinkActive="active-link"><i class="far fa-stamp"></i><span>Approve Job Card</span></li>
      <li class="accordian-parent" (click)="auditToggle = !auditToggle" *ngIf="searchView('audit')"><i class="fas fa-eye"></i><span>Audit</span><span class="arrow"><i [class]="(!auditToggle) ? 'far fa-chevron-down' : 'far fa-chevron-up'"></i></span>
        <ul class="accordian" *ngIf="auditToggle" (click)="auditToggle = !auditToggle">
          <li [routerLink]="['/Dashboard/AuditLog']" routerLinkActive="active-link">Log</li>
          <li [routerLink]="['/Dashboard/AuditDatabase']" routerLinkActive="active-link">Database</li>
        </ul>
      </li>
    </ul>
  </div>
  <div class="dash">
    <div class="container-fluid" style="overflow: auto;">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>