
:root{
    --blue : #D3D4D9;
    --black : #000000;
    --white : #FBFEF9;
    --red : #E71D36;
    --raisin : #373F51;
}


.grid-container-sidebar{
    display: grid;
    grid-template-columns: 0.5fr 1fr 1fr 1fr;
    grid-template-rows: minmax(70px, 70px) calc(100vh - 70px);

    grid-template-areas:
    "sideBar ribbon ribbon ribbon"
    "sideBar dash dash dash"
}
.grid-container{
    overflow: hidden;
    display: grid;
    grid-template-columns: 0px 1fr 1fr 1fr;
    grid-template-rows: minmax(70px, 70px) calc(100vh - 70px);
    grid-template-areas:
    "sideBar ribbon ribbon ribbon"
    "sideBar dash dash dash"
}

.ribbon{
    grid-area: ribbon;
    background-color: #ffffff;
    width: 100%;
    height: 100%;
    box-shadow: 0 0 35px 0 rgba(154,161,171,.15);
}

.sideBar{
    overflow: hidden;
    grid-area: sideBar;
    background-color: #373F51;
    width: 100%;
    height: 100vh;
}

.dash{
    grid-area: dash;
    background-color: #f8fafd;
    width: 100%;
    height: 100%;
}
.hamburger{
    top: 2px;
    width: 50px;
    height: 50px;
}
.logo{
    width: 100%;
}
.currentNav img{
   display: inline-block;
   vertical-align: top;
}
.currentNav h3{
    padding-left: 10px;
    margin-top:0.5rem;
    margin-bottom: 0px;
    display: inline-block;
}
.currentNav{
 float: left;
}

nav ul{
    float: right;
    list-style: none;
    padding: 0;
    margin: 0;
}
nav li{
    margin: 0 25px;
    float: left;
    height: 70px;
}

nav li h6{ 
    margin-top: 1.5rem;
    color: #98a6ad;
    font-family: 'Muli', sans-serif;
    font-size: 1rem;
}
nav li p:first-of-type{
    margin-top: 1rem;
    font-family: 'Muli', sans-serif;
}
nav li:last-of-type{
    margin: 0 25px;
    float: left;
    height: 70px;
    width: 180px;
    font-size: 0.8rem;
    font-family: 'Muli', sans-serif;
}
.clearFix::after{
    content: "";
    display: table;
    clear: both;
}
.profileNames{
    padding-left: 5px;
    float: right;
}

.notificationImg{
    width: 25; 
    height:25px;
    margin-top: 1.5rem;
}

.profileContainer{
    background-color: #f8f9fa;
    width: 100%;
    height: 100%;
}
.profileContainer:hover{
    cursor: pointer;
}
.container-fluid{
    margin: 10px 0;
    height: 96%;
    width: 100%;
}

.sideBarNav{
    list-style: none;
    height: 90%;
    overflow: auto;
    
    
}
.sideBarNav h3{
    color: #8391a2;
    font-family: 'Muli', sans-serif;
    font-size: 1rem;
    font-weight: 400;
    padding-top: 20px;
}
.sideBarNav span{
    padding-left: 8px;
}
.sideBarNav li{
    color: #8391a2;
    font-family: 'Muli', sans-serif;
    font-size: 0.9rem;
    font-weight: 400;
    padding-top: 20px;
}
.sideBarNav li:hover{
    color: white;
    cursor: pointer;
}
.accordian{
    list-style: none;
}
.accordian-parent{
    position: relative;
}

.accordian{
    padding-left: 15px;
}
.arrow{
    position: absolute; right:20px;
}
.sideBar .active-link i,.sideBar .active-link span{
    color: white;
}
.logout:hover{
    cursor: pointer;
}

