<div class="container-fluid">
    <div class="row">
        <div class="col-md-7 col-sm-12">
            <h4>Job Position</h4>
        </div>
        <div class="col-md-5 col-sm-12">
            <h4>Requesting manager</h4>
        </div>
        <div class="col-md-7 col-sm-12">
            <h5>Fulfillment Date</h5>
            <h5>DD/MM/YYYY</h5>
        </div>
        <div class="col-md-5 col-sm-12">
            <h4>Justification</h4>
            <h4>example</h4>
        </div>
        <div class="col-12">
            <h5>Brief</h5>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Repudiandae sed accusantium provident quae consectetur, velit quisquam ipsam officia, quod, animi nulla alias. Rerum hic cum exercitationem! Recusandae, natus debitis! Tempore!</p>
        </div>
    </div>
</div>