<div class="container-fluid">
    <div class="row">
        <div class="col-md-7 col-sm-12">
            <h4>Job Position</h4>
        </div>
        <div class="col-md-5 col-sm-12">
            <h4>Requesting manager</h4>
        </div>
        <div class="col-md-7 col-sm-12">
            <h5>Fulfillment Date</h5>
            <h5>DD/MM/YYYY</h5>
        </div>
        <div class="col-md-5 col-sm-12">
            <h4>Justification</h4>
            <h4>example</h4>
        </div>
        <div class="col-12">
            <h5>Brief</h5>
            <p> 
                Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ullam id dolores omnis est maxime! Aliquid repellendus odio temporibus est sunt aliquam, voluptatum sapiente molestias officiis provident, odit et quas veniam?
                <br>
                <br>
                <br>
                Lorem ipsum dolor sit, amet consectetur adipisicing elit. Beatae nulla explicabo nesciunt, quis architecto tempore cumque iusto laudantium provident eum odio voluptatem, quod impedit. Quibusdam, eaque. Consequatur quod nisi at.
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Illum quisquam reprehenderit sunt nam excepturi non rem harum, neque inventore vitae facilis laboriosam optio impedit nesciunt, labore quos! Nesciunt, quam consequatur.
                Lorem ipsum dolor sit amet consectetur adipisicing elit. In quaerat quasi rerum iusto! Ipsa nostrum sed dolor repudiandae optio. Atque quia iure ea deleniti deserunt, quidem hic repellat doloremque facilis.
                Lorem ipsum dolor, sit amet consectetur adipisicing elit. Saepe sit aspernatur illo ad aliquid magni, modi suscipit a iste dolore vero voluptatem ut deserunt. Ad quae obcaecati quia recusandae nam?
                Lorem ipsum dolor sit, amet consectetur adipisicing elit. Sunt, commodi excepturi, beatae impedit corporis deserunt, ab quo reprehenderit eum veniam vitae eveniet rerum possimus. Eum nesciunt dolor quo illum necessitatibus!
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquam perspiciatis cupiditate iste cum animi. Doloremque similique libero, ad voluptates maiores ratione labore non eos? Ipsa minima delectus iste pariatur dolorem.
                <br>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Unde voluptatum quam aliquid rem asperiores consequuntur voluptates itaque perspiciatis. Eaque facere et, aspernatur excepturi natus architecto ipsa est sed sunt iste.
            </p>
        </div>
    </div>
</div>