<div class="container-fluid">
    <div class="row">
        <div class="col-sm-12 col-md-4 mt-2">
            <div class="panel-container panel-ext sm-container">
                <h1>Locations</h1>
                <form>
                    <div class="form-group form-inline">
                        <h5>Search Location:</h5> <input type="text" class="form-control ml-2">
                    </div>
                </form>
                <div>
                    <div class="group-right" (click)="addLocation()">
                        <h5>New Location</h5><h5><i class="fa fa-plus" aria-hidden="true"></i></h5>
                    </div>
                    <table class="table greyHead">
                      <thead>
                          <tr>
                              <th>Location</th>
                              <th class="text-center">Action</th>
                          </tr>
                      </thead>
                      <!-- LOCATIONS GO HERE -->
                      <tr *ngFor="let item of locations"><td>{{item.name}}</td><td class="text-center"><i class="far fa-pencil-alt" (click)="editLocation(item.locationId)"></i><i class="fas fa-trash-alt ml-4" (click)="deleteLocation(item.locationId)"></i></td></tr>
                  </table>
                </div>
            </div>
        </div>
        <div class="col-sm-12 col-md-4 mt-2">
            <div class="panel-container panel-ext sm-container">
                <h1>Buildings</h1>
                <form>
                    <div class="form-group form-inline">
                        <h5>Search Buildings:</h5> <input type="text" class="form-control ml-2">
                    </div>
                </form>
                <div class="group-right" (click)="addBuilding()">
                    <h5>New Building</h5><h5><i class="fa fa-plus" aria-hidden="true"></i></h5>
                </div>
                <table class="table greyHead">
                  <thead>
                      <tr>
                          <th>Building</th>
                          <th class="text-center">Action</th>
                      </tr>
                  </thead>
                  <!-- Builiding GO HERE -->
                  <tr *ngFor="let item of buildings"><td>{{item.name}}</td><td class="text-center"><i class="far fa-pencil-alt" (click)="editBuilding(item.buildingId)"></i><i class="fas fa-trash-alt ml-4" (click)="deleteBuilding(item.buildingId)"></i></td></tr>
              </table>
            </div>
        </div>
        <div class="col-sm-12 col-md-4 mt-2">
            <div class="panel-container panel-ext sm-container">
                <h1>Floors</h1>
                <form>
                    <div class="form-group form-inline">
                        <h5>Search Floors:</h5> <input type="text" class="form-control ml-2">
                    </div>
                </form>
                <div class="group-right" (click)="addFloor()">
                    <h5>New Floor</h5><h5><i class="fa fa-plus" aria-hidden="true"></i></h5>
                </div>
                <table class="table greyHead">
                    <thead>
                        <tr>
                            <th>Floor</th>
                            <th>Building</th>
                            <th class="text-center">Action</th>
                        </tr>
                    </thead>
                    <!-- Floors GO HERE -->

                    <tr *ngFor="let item of floors"><td>{{item.floorNumber}}</td><td>{{item.buildingName}}</td><td class="text-center"><i class="far fa-pencil-alt" (click)="editFloor(item.floorId)"></i><i class="fas fa-trash-alt ml-4" (click)="deleteFloor(item.floorId)"></i></td></tr>

                  </table>
            </div>

        </div>
    </div>
</div>
